// colors
$blue-primary: #124c69;
$white: #fff;
$grey-primary: #707273;
$blue-hover: #0b2c3d;
$error: #EF5350;

// backgrounds
$bg-primary: #f7f7f7;
$dot-green: #66BB6A;

// icons
$icon-primary: #96979f;
$icon-secondary: #3e57ac;

// borders
$border-primary: #e7e7e7;
$radius-primary: 8px;

// box shadow
$shadow-primary: rgba(0, 0, 0, 0.16) 0px 1px 4px;

// profile photo
$size-profile: 36px;

// active dot
$size-dot: 10px;
$active: #E8F5E9;
$active-text: #66BB6A;
$inactive: #FFEBEE;
$inactive-text: #EF5350